html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url('http://eskipaper.com/images/chilling-on-the-beach-1.jpg')
    
}

div{
    display: flex;
    background-size: cover;
    
}
.initial, .typing{
    font-size: 3rem;
    font-style: italic;
    font-family: sans-serif;
    color: wheat;
    text-shadow: 3px 3px rgb(3, 22, 54);
}
.typing{
    margin-left: 0.5rem;
    position: relative;
    
}
.typing::after{
    content: "";
    position: absolute;
    right:-10px ;
    width: 4px;
    height: 3px;
    border-top: 5rem solid wheat;
    animation: blink 0.7s infinite ease-in-out;
    
}
@keyframes blink{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*.text{
    margin-left: 40%;
    margin-right: 50%;
    font-size: 10rem;
    font-style: italic;
    font-family: cursive;
    
    color: darkslateblue;
    
}
.gyan{
    margin-left: 40rem;
    margin-top: 15rem;
    font-size: 5rem;
    font-style: italic;
    font-family: fantasy;
    color: indianred;
    transition: all 2.5s ease;
    transform: translateY(5rem);
    opacity: 0;

}
.main{
    margin-left: 10rem;
    margin-top: 15rem;
    font-size: 5rem;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(158, 106, 9);
    transition: all 2.5s ease;
    transform: translateY(5rem);
    opacity: 0;

}
.wish{
    margin-left: 40rem;
    margin-top: 15rem;
    font-size: 5rem;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(77, 5, 5);
    transition: all 1.5s ease;
    transform: translateY(5rem);
    opacity: 0;

}

/*.change{
    color: aquamarine;
    font-size: 10rem;
    border: 1rem solid violet;
    margin: 2rem;
    padding: 2rem 2rem;
}
.btn{
    margin: 4rem;
    padding: 2rem;
    border-radius: 1rem;
    color: blue;
    background-color: wheat;
    font-size: 2rem;
}
.changeto{
    color: darkslateblue;
    font-size: 12rem;
    border: 1.5rem solid lightgray;
    margin: 3rem;
    padding: 3rem;
}
.names{
    font-size: 3rem;
    color: mediumvioletred;
    font-style: italic;
    margin: 2.5rem;
    list-style: none;
}
.texteffect{
    
    
    transition: all 5s ease;
    transform: translateY(5rem);
    opacity: 0;
    width: 50%;
    
}
.textappear{    
    opacity: 1.0;
    transform: translateY(0rem);
}
