html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url('http://eskipaper.com/images/chilling-on-the-beach-1.jpg')
    
}

div{
    display: flex;
    background-size: cover;
    
}
.initial, .typing{
    font-size: 3rem;
    font-style: italic;
    font-family: sans-serif;
    color: wheat;
    text-shadow: 3px 3px rgb(3, 22, 54);
}
.typing{
    margin-left: 0.5rem;
    position: relative;
    
}
.typing::after{
    content: "";
    position: absolute;
    right:-10px ;
    width: 4px;
    height: 3px;
    border-top: 5rem solid wheat;
    animation: blink 0.7s infinite ease-in-out;
    
}
@keyframes blink{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
